@charset "UTF-8";
/* CSS Document */
@media (max-width: 1920px) {
.eikaebana_body, .main_header, footer .admin_footer {
    width: 100%;
    float: left;
}
}   
@media (max-width: 1920px) {
.add_NewCoupon2 {
    right: 15px;
}
}
@media (max-width: 1366px) {
.users .form_model {
    transform: translate(-50%, 20%);
}
.brands_drop span.Left_2 {
    width: 37%;
}
a.navbar-brand img {
    left: 41%;
    top: 70px;
}
.profile_header2 {
    position: relative;
}
.detail_list1 {
    width: 72%;
}
.detail_list2 {
    width: 28%;
}
.Order_Status1 {
    width: 20%;
}
.Order_Status1 {
    width: 33%;
    margin-left: 0px;
}
.payment_status {
    width: 30%;
}
.Order_Detail1 {
    width: 30%;
}
.Order_Status1 .status_drop {
    margin-bottom: 0px;
    display: flex;
}
.orderList_box2 {
    right: 14px;
    max-width: 24%;
}

}
@media (max-width: 1199px) {
.add_NewCoupon2 {
    right: 0;
}
}
@media (max-width: 992px) {
    .alert {
        display: none;
    }
.md_mainSidebar.open {
    left: 0;
}
.head-border {
    width: calc(100% - 250px);
    padding: 0;
}
.header_icons .header__list .header_icons_set {
    padding: 0;
}
.head-border .header__section {
    padding: 0;
}
.subscrip_table {
    overflow-x: auto;
}
.subscrip_table table {
    width: 860px;
    max-width: 860px;
}
.header__section .search_div {
    width: calc(100% - 100px);
}
.right_btn {
    display: block;
}
.header_searchIcon {
    display: block;
}
.m-stack.m-stack--general {

    justify-content: left;
}
.m-body .m-wrapper {
    margin-left: 0;
}
.header__section .header_icons {
    padding: 0;
}
.orderDetail_list ul {
    flex-direction: column;
}
.orderDetail_list ul li p.order_id {
    margin-bottom: 10px;
}
.icons__prop {
    color: #000000;
}
.header_list_item {
    color: #000000;
}
.m-aside-menu .m-menu__nav {
    margin-top: 0;
}
.header_icons {
    padding: 10px;
}
}
@media (max-width: 767px) {
    .orderList_box {
        width: 100%;
    }
.background_box {
    padding: 20px;
}
.Size--list .download_drop {
    padding: 5px 14px;
    width: 120px;
}
.show_details ul li {
    width: 100%;
}
.show_details ul {
    flex-direction: column;
}
.SaveProduct_button {
    margin-top: 0;
}
.btn_cancel {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn_SavePro {
    margin-top: 0;
}
.SaveProduct_button {
    margin-top: 0;
}
ul.editVariantList {
    padding-left: 0;
}
.Right_side_input.ex_position {
    margin-bottom: 10px;
}
.edit_variantsSec {
    flex-wrap: wrap;
}
.variant_listType {
    width: 100%;
    padding-right: 0;
}
.brands_drop span.Left_1 {
    width: 15%;
}
.brands_drop span.Left_3 {
    width: 20%;
}
.eikaebana-logo img {
    width: 105px;
}
.bottom_footer_eikaebana p, .bottom_footer_eikaebana p a {
    text-align: center;
}
.bottom-footer p.float_center {
    text-align: center;
    margin-top: 4px;
}
.from__section {
    padding: 50px 0;
}
.Login-sd h1 {
    line-height: 38px;
    font-size: 28px;
}
.head-border {
    width: calc(100% - 180px);
}
.header__section .search_div {
    width: calc(100% - 85px);
}
.def_widthheading {
    margin-top: 30px;
}
.orderList_box2 {
    right: unset;
    max-width: 100%;
    position: unset;
}
.Order_Detail1 {
    width: 100%;
}
.payment_status {
    width: 100%;
}
.Order_Status1 {
    width: 100%;
    margin-top: 8px;
}
ul.ordered_List li:last-child {
    margin-bottom: 0;
}
.alert {
    top: 0px;
    right: -30%;
}
.m-body .m-content {
    padding: 15px;
}
.OrderList__heading {
    margin-bottom: 15px;
}
}
@media (max-width: 600px) {
.Price_detail {
    width: 100%;
    margin-top: 15px;
}
.Size--list .download_drop {
    padding: 5px 12px;
}
.orderDetail_list ul {
    margin-bottom: 15px;
}
.tracking_input {
    flex-direction: column;
}
.tracking_input>div {
    margin-top: 10px;
}
.form_model {
    width: 100%;
}
.brands_drop {
    gap: 10px;
    flex-wrap: wrap;
}
.def_width .dropbtn {
    padding: 4px;
}
.add_NewCoupon {
    padding: 20px;
    margin-bottom: 15px;
}
.orderList_box h5 {
    margin-bottom: 15px;
}
.ordered_List {
    margin-bottom: 0;
}
.brands_drop span.Left_1, .brands_drop span.Left_3 {
    width: 100%;
}
.serching__bar div span.Left_2 {
    width: calc(50% - 5px);
}
}
@media (max-width: 480px) {
    .tracking_input input {
        min-width: 270px;
    }
.background_box {
    padding: 15px;
}
.orderList_box h5 {
    margin-bottom: 15px;
}
.from__section {
    padding: 40px 0;
}
.Login-sd h1 {
    line-height: 36px;
    font-size: 26px;
}
.ex_position {
    margin-bottom: 10px;
}
.add_NewCoupon {
    padding: 20px;
}
.add_NewCoupon {
    padding: 20px;
}
.Order_Detail i {
    margin-right: 0;
    margin-bottom: 20px;
}
.Order_Detail {
    width: 100%;
    flex-direction: column;
}
.Order_Status {
    margin-top: 10px;
}
.Order_Detail p, .Order_Status p, .orderL_itm p {
    margin-bottom: 2px;
}
.btn_SavePro {
    min-width: unset;
}
.tracking_options {
    align-items: flex-start;
    flex-direction: column;
}
.brands_drop {
    flex-direction: column;
}
.brands_drop span.Left_3 {
    width: 100%;
}
.serching__bar div span.Left_2 {
    width: 100%;
}
}
@media (max-width: 400px) {
    .OrderList__heading {
        flex-direction: column;
    }
.tracking_input input {
    min-width: 240px;
}
.OrderList__heading {
    align-items: baseline;
    gap: 10px;
}
.orderDetail_list ul li p.order_id {
    font-size: 20px;
}
}
@media (max-width: 360px) {
.right_btn button span {
    right: 0;
}
.tracking_input input {
    min-width: unset;
}
.tracking_options {
    align-items: unset;
    flex-direction: column;
}
.orderDetail_list ul li p.order_id {
    font-size: 20px;
    line-height: 26px;
}
.header__section .search_div {
    left: 128px;
}
.head-border {
    width: unset;
}
.header__section .search_div {
    left: 128px;
    display: none;
}
.eikaebana-logo img {
    width: 76px;
}
}